*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties*/


:root {
    --ff-primary: 'Playfair',  serif;
    --ff-secondary: 'Quicksand', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 3.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    height: 100%;
}


img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.title_text{
    height: 100vh;
    width: 100%;
    padding-top: 50%;
}

.section__title {
    margin-bottom: .25em;
    text-align:left; 
    
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__subtitle {

    font-size: var(--fs-h3);
    width: 100%;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    text-align: left;
    position: relative;
}


/* Header & Back Buttons */


.nav_links{
    text-align: right;
    padding: 10px;
    text-decoration: none;
    padding-right: 2em;
    font-family: var(--ff-secondary);
    width: 100%;
}

.nav__link{
    color: black;
     padding: 10px;
     text-decoration: none;
}

.back {
    display: inline-block;
    text-decoration: none;
    font-family: var(--ff-secondary);
}

/*  Home Page  */

.intro {
    position: relative;
    
}

.intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
    width: 100px;
    padding: 10px
}




@media (min-width: 800px) {
    .intro {
        position: relative;
        height:100vh;
        width: 100%;
        display: grid;
        margin: 0 auto;
        grid-column-gap: 10px;
        grid-template-columns: repeat(5, 30vh);
        grid-template-rows: repeat(1, 100vw);
        grid-gap: 10px;
        padding: 15px;
        max-width: 1000px;
        margin-left: 20px;
        margin-bottom: 80px;
        
    }
    
    
    .intro__img {
        min-width: 250px;
        position: relative;
        z-index: 2;
    }  
    
    .section__subtitle--intro {
        grid-column: 1 / 2;
        grid-row: 2;
        position: relative;

    }

    .gallery {
        height:100vh;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1;
        display:grid;
        grid-gap: 10px;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 5vw);
    
    }
    
    .gallery__img {
        width: 100%;
        height: 100%;
        display: block; 
       
      }
      
    
    .gallery__item--1 {
        grid-column: 1 / span 5;  
        grid-row: 1 / span 5; 
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    
      .gallery__item--2 {
        grid-column: 1 / span 4;  
        grid-row: 6 / span 4; 
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .gallery__item--3 {
        grid-column: 6 / span 4;
        grid-row: 1 / span 5; 
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .gallery__item--4 {
        grid-column: 5 / span 4;  
        grid-row: 6 / span 4; 
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .gallery__item--5 {
        grid-column: 9 / span 1; 
        grid-row: 6 / span 4; 
        width: 100%;
        height: 100%;
        object-fit: none;
      }
      
      .gallery__item--6 {
        grid-column: 5 / span 4;
        grid-row: 6 / span 3; 
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .gallery__img:hover,
        .gallery__item:focus .gallery__img {
        transform: scale(.9);
        opacity: 1;
}
    
}


/* About page */


.about-me {
    max-width: 1000px;
    margin: auto; 
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: 50%;
        grid-column-gap: 2em;
        
    }
    
    .section__title--about {
       margin: auto;
       text-align: center;
    }
    
    
    .about-me__img {
        height: 200px;
        width: 300px;
        grid-column: 1 / span 1; 
        grid-row: 1 / span 1;
        margin-top:25px;
        margin-left: 100px;
    }

    .about-me__body{
        grid-column: 2 / span 1; 
        font-family: var(--ff-secondary);
    }

    
}

/* Contact links */

.contacts {
    color: black;
    text-align: center;
    padding: 2.5em 0;
    font-size: 1.75rem;
    text-decoration: none;
}

.contacts a {
    color: black;
    text-decoration: none;
    opacity: .3;
}


.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}


/* Project Page */

@media (min-width: 600px) {

.project {
    display: grid;
    grid-template-rows: 2;
    grid-column-gap: 2em;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;

}

.project_top {
    grid-column: 1 / span 1; 
    grid-row: 1 / span 1;
    margin: 0 auto;
    margin-bottom: 5%;
    font-family: var(--ff-secondary);
}

.project_bottom{
    grid-column: 1 / span 1; 
    grid-row: 2 / span 1;
    margin: 0 auto;
}

.section__title--projects {
    margin: auto;
    text-align: center;
    padding-top: 2em;
    font-family: var(--ff-primary);
    font-size: var(--fw-reg);
 }

 .project_page {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 3;
    grid-column-gap: 2em;
    margin: auto;
    width: 80%
 }

 .project_one {
    grid-column: 1 / span 1; 
    grid-row: 1 / span 1;
    font-family: var(--ff-secondary);
  
 }

 .project_two {
    grid-column: 2 / span 1; 
    grid-row: 1 / span 1;
    font-family: var(--ff-secondary);
  
 }

 .project_three {
    grid-column: 3 / span 1; 
    grid-row: 1 / span 1;
    font-family: var(--ff-secondary);
   
 }
}